h1{
  color:rgb(252, 232, 214);
  font-family:marker felt, fantasy;
  font-size: 40px;
  text-align: center;
  margin-bottom:10px;
  padding:30px;
  background-size: cover;
}
body{
  background-color: rgb(247, 238, 231);
  background-size: cover;
}
h2{
  color:darkmagenta
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
}
button {
  float:left;
  border-radius: 12px;
  width: 33%;
  padding: 10px 24px;
  background-color:palevioletred;
  font-family: Arial, Helvetica, sans-serif;
  border-color: peachpuff;
  font-size: 20px;
  text-align:center;
  margin-bottom:10px;
}
a{color:peachpuff;}
a:link{text-decoration: none;}
a:visited{color:peachpuff;}
a:hover{color:white;}
/*******************************
    CSS Animations
*******************************/
@keyframes example{
  from{text-size-adjust:initial;}
  to{}

}
/*******************************
      Media Queries
*******************************/
@media screen and (min-width: 600px) {
  .button a {
    float:none;
    width: 100%;
  }
}